<div class="bg-image"></div>
<app-best-seller></app-best-seller>
<app-our-meals></app-our-meals>
<app-contact></app-contact>
<app-newsletter></app-newsletter>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a class="logo" style="display: flex; align-items: center; margin-top: 10px;">
      <img src="../../../assets/img/tastebuds-high-resolution-logo-transparent (1).png" alt="Logo" style="height: 80px; width: auto;"> 
    </a>
    <ul>
      <li><a (click)="loginAction()">Login</a></li>
      <li><a (click)="signupAction()">SignUp</a></li>
      <li><a (click)="forgotPasswordAction()">Forgot Password?</a></li>
    </ul>
  </nav>
</div>

