.mat-toolbar {
    width: auto;
    margin-bottom: 10px;
    background-color: #a2783a;
}

/*mat-dialog-content{
    background-color: white;    
}*/

/*mat-dialog-actions{
    background-color: white;
}*/

.title-center {
    flex: 1 1 auto;
    text-align: center;
}