.mat-toolbar {
    width: auto;
    margin-bottom: 10px;
    background-color: #a2783a;
}

.title-center {
    flex: 1 1 auto;
    text-align: center;
}

.mat-form-field {
    padding: 5px;
    width: 100%;
}

.form{
    background-color: white;
}