/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */



.mat-toolbar {
    width: auto;
    margin-bottom: 10px;
    background-color: #a2783a;
}

.title-center {
    flex: 1 1 auto;
    text-align: center;
}

.mat-form-field {
    padding: 5px;
    width: 100%;
}



::ng-deep .mat-raised-button {
    background-color: #a2783a !important;
    color: white !important;
    padding: 15px 0 !important;  /* Increase vertical padding */
    font-size: 18px !important;  /* Increase text size */
    height: 50px !important;  /* Increase button height */
    width: 100% !important;  /* Make button full width */
    border-radius: 8px !important; /* Optional: Rounded corners */
}

::ng-deep .mat-raised-button:hover {
    background-color: #a2783a !important;
}

  