
.about {
  padding-top: 75px;
  padding-bottom: 75px;
  //padding-left: 70px;  /* 👈 Here */
  padding-right: 50px; /* 👈 And here */
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  overflow: visible;
  position: relative;
}


.about .image {
  flex: 0 0 auto; /* Prevent image from shrinking */
  margin-left: -50px; /* 👈 Move image to left */
}

.about .text {
  flex: 1;
  padding-right:0 20px; /* Space between text and image */
  //padding-left: 70px;
}

.about .image img {
  width: 100%;
  height: auto;
  max-width: 500px; /* Set a max-width if needed */
  border-radius: 8px; /* Optional: adds rounded corners */
 //margin-right: 15%;
 //padding-left: 10%;
 //margin-left: 0; /* Ensure no negative margin that hides the image */
 
}

.about h4 {
  color: #a2783a;
  font-family: "Alex Brush", cursive;
  font-weight: 200;
  font-size: 24px;
  margin-bottom: 20px;
}

.about h2 {
  color: #000;
  font-weight: 200;
  font-size: 36px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  padding-left: 50px
}

.about p {
  line-height: 36px;
  letter-spacing: 1px;
  word-spacing: 6px;
 // padding-right: 50px;
 padding-left: 50px;
 font-size: 20px;
 margin-right: 20%;
}




