
<section class="about container">
    <div class="about-content">
      <div class="text">
        
        <h2>ABOUT</h2>
        <p>
            TasteBuds is a modern, all-in-one restaurant management system crafted to simplify and enhance your restaurant operations. Inspired by the bond between food lovers, TasteBuds blends efficiency with a friendly, intuitive interface—making it easier to deliver exceptional dining experiences.

            From order management and table reservations to inventory tracking and staff coordination, TasteBuds keeps everything running smoothly. Whether you're running a café, fast-food outlet, or fine-dining restaurant, our platform helps you streamline daily tasks, improve service speed, and keep customers coming back.
        </p>
      </div>
      <div class="image">
        <img src="../../../assets/img/tastebuds-high-resolution-logo (1).png" alt="About Us" />
      </div>
    </div>
  </section>

  